---
import Content from "@/layouts/Content.astro";
import Layout from "@/layouts/Layout.astro";
import Chests from "@/components/Chests.astro";
import Oculis from "@/components/Oculis.astro";
import { getAccount } from "@/services/database";
import RowData from "@/components/RowData.astro";

const account = await getAccount();

if (!account) {
    return Astro.redirect("/404");
}

const { stats, nickname, level } = account;
const chests = {
    common: stats.common_chests,
    exquisite: stats.exquisite_chests,
    precious: stats.precious_chests,
    luxurious: stats.luxurious_chests,
};

const oculis = {
    anemo: stats.anemoculi,
    geo: stats.geoculi,
    electro: stats.electroculi,
    dendro: stats.dendroculi,
    hydro: stats.hydroculi,
    pyro: stats.pyroculi,
};
---

<Layout title="Estadísticas de Genshin Impact">
    <Content>
        <div class="grid lg:grid-cols-5 gap-4">
            <div
                class="flex flex-col gap-1 justify-between w-full text-[15px] dark:text-white rounded-lg border border-gray-100 bg-white p-4 dark:border-gray-800 dark:bg-gray-900"
            >
                <RowData icon="tabler:user" value={nickname} />
                <RowData icon="tabler:star" value={level} label="Nivel" />
                <RowData
                    icon="tabler:calendar"
                    value={stats.days_active}
                    label="Días activos"
                />
                <RowData
                    icon="tabler:award"
                    value={stats.achievements}
                    label="Logros"
                />
                <RowData
                    icon="tabler:users"
                    value={stats.characters}
                    label="Personajes"
                />
                <RowData
                    icon="tabler:map-pins"
                    value={stats.unlocked_waypoints}
                    label="TPs"
                />
                <RowData
                    icon="tabler:map"
                    value={stats.unlocked_domains}
                    label="Dominios"
                />
                <RowData
                    icon="tabler:spiral"
                    value={stats.spiral_abyss}
                    label="Abismo"
                />
            </div>
            <div class="lg:col-span-4">
                <Chests {...chests} />
            </div>
            <div class="col-span-full">
                <Oculis {...oculis} />
            </div>
        </div>
    </Content>
</Layout>
