---
import LazyImage from "./LazyImage.astro";
import { type Character } from "../types/character";

interface Props {
  href: string;
  char: Character;
}

const { href, char } = Astro.props;
---

<a
  href={href}
  class="transition flex flex-col items-center justify-center rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900 hover:scale-105"
>
  <div class="flex flex-col items-center gap-4">
    <LazyImage
      transitionName={`char-icon-${char.id}`}
      class="rounded-full min-h-[100px]"
      src={char.icon}
      alt={char.name}
      width={120}
      height={120}
    />
    <h3 class="font-semibold text-lg text-center text-gray-950 dark:text-white">
      {char.name}
    </h3>
  </div>
</a>
