---
import Oculi from "./Oculi.astro";
import anemoculiImg from "@assets/oculis/anemoculus.webp";
import geoculiImg from "@assets/oculis/geoculus.webp";
import electroculiImg from "@assets/oculis/electroculus.webp";
import dendroculiImg from "@assets/oculis/dendroculus.webp";
import hydroculiImg from "@assets/oculis/hydroculus.webp";
import pyroculiImg from "@assets/oculis/pyroculus.webp";
import lunoculiImg from "@assets/oculis/lunoculus.webp";

interface Props {
    anemo: number;
    dendro: number;
    electro: number;
    geo: number;
    hydro: number;
    pyro: number;
    luno: number;
}

const { anemo, dendro, electro, geo, hydro, pyro, luno } = Astro.props;
---

<div class="grid grid-cols-2 gap-4 sm:grid-cols-4 lg:grid-cols-7">
    <Oculi quantity={anemo} image={anemoculiImg} label="Anemoculus" />
    <Oculi quantity={geo} image={geoculiImg} label="Geoculus" />
    <Oculi quantity={electro} image={electroculiImg} label="Electroculus" />
    <Oculi quantity={dendro} image={dendroculiImg} label="Dendroculus" />
    <Oculi quantity={hydro} image={hydroculiImg} label="Hydroculus" />
    <Oculi quantity={pyro} image={pyroculiImg} label="Pyroculus" />
    <Oculi quantity={luno} image={lunoculiImg} label="Lunoculus" />
</div>
