---
import Oculi from "./Oculi.astro";
import anemoculiImg from "@assets/oculis/anemoculus.webp";
import geoculiImg from "@assets/oculis/geoculus.webp";
import electroculiImg from "@assets/oculis/electroculus.webp";
import dendroculiImg from "@assets/oculis/dendroculus.webp";
import hydroculiImg from "@assets/oculis/hydroculus.webp";
import pyroculiImg from "@assets/oculis/pyroculus.webp";
import lunoculiImg from "@assets/oculis/lunoculus.webp";

interface Props {
    anemo: number;
    dendro: number;
    electro: number;
    geo: number;
    hydro: number;
    pyro: number;
    luno: number;
}

const { anemo, dendro, electro, geo, hydro, pyro, luno } = Astro.props;
---

<div class="grid sm:grid-cols-7 gap-4">
    <Oculi quantity={anemo} image={anemoculiImg} />
    <Oculi quantity={geo} image={geoculiImg} />
    <Oculi quantity={electro} image={electroculiImg} />
    <Oculi quantity={dendro} image={dendroculiImg} />
    <Oculi quantity={hydro} image={hydroculiImg} />
    <Oculi quantity={pyro} image={pyroculiImg} />
    <Oculi quantity={luno} image={lunoculiImg} />
</div>
