---
import { icons } from "@lucide/astro";
import LucideIcon from "./LucideIcon.astro";
import CounterNumber from "./CounterNumber.astro";

interface Props {
    icon: keyof typeof icons;
    label?: string;
    value: string | number;
}

const { icon, value, label } = Astro.props;
---

<div class="flex gap-2">
    <LucideIcon name={icon} size={20} />
    {label ? (
        <span>{label} ➜ {typeof value === 'number' ? <CounterNumber value={value} /> : value}</span>
    ) : typeof value === 'number' ? (
        <CounterNumber value={value} />
    ) : (
        <span>{value}</span>
    )}
</div>
